<div class="line">
  <%= form.error_message_on :email %>
  <%= form.label :email, t("user.attributes.email") %>
  <%= form.text_field :email, :class =>'title' %>
</div>
<div class="line">
  <%= form.error_message_on :password %>
  <%= form.label :password, t("user.attributes.password") %>
  <%= form.password_field :password, :class =>'title' %>
</div>
<div class="line">
  <%= form.error_message_on :password_confirmation %>
  <%= form.label :password_confirmation, t("user.attributes.password_confirmation") %>
  <%= form.password_field :password_confirmation, :class =>'title' %>
</div>