<h2><%=t("user.register_title")%></h2>

<%= form_for @user, :url => signup_path do |f| %>
  <%= f.error_message_on :base %>
  <%= render :partial => "form", :object => f %>
  <div class="line">
    <%=link_to t("texts.signin"), signin_path%>
  </div>
  <div class="line submit">
    <%= f.submit t("user.register_button") %>
  </div>
<% end %>