<h2><%=t("navigation.account")%></h2>
<div>
  <%=t("admin.user.attributes.email")%>: <%=@user.email%>
</div>

<div class="divider"></div>

<h2><%=t("texts.user_images")%></h2>
<div class="images_list">
  <%=render :partial => "site/files/image", :collection => @user.uploaded_files.account %>
</div>

