<% cache "image_#{@uploaded_file.id}" do %>
<h2><%=@uploaded_file.title%></h2>
<div class="image_box">
  <div class="image">
    <%= image_tag @uploaded_file.attachment.url(:medium), :alt => @uploaded_file.title, :title => @uploaded_file.title %>
  </div>
  <div class="right_panel">
    <ul>
      <li><%=link_to "Medium", @uploaded_file.attachment.url(:medium), :target => "_blank" %></li>
      <li><%=link_to "Large", @uploaded_file.attachment.url(:large), :target => "_blank" %></li>
      <li><%=link_to "Original", @uploaded_file.attachment.url(:original), :target => "_blank" %></li>
    </ul>
  </div>
</div>

<div style="margin-left:20px; float:left;">
  <ul style="list-style: none outside none;">
    <%= render :partial => "shared/simillar_file", :collection => @similar_files %>
  </ul>
</div>
<div style="clear:both;"></div>
<% unless @uploaded_file.catalog.nil? %>
<div style="margin:10px 0;">
  <%=t("texts.catalog_title")%>: <%= link_to @uploaded_file.catalog.title, catalog_link_path(:id => @uploaded_file.catalog.id, :slug => @uploaded_file.catalog.slug) %>
</div>
<% end %>
<% unless @uploaded_file.user.nil? %>
<div style="margin:10px 0;">
  <%=t("admin.user.attributes.email")%>: <%= mail_to @uploaded_file.user.email, nil, :encode => "hex", :replace_at => "[at]", :replace_dot => "[dot]" %>
</div>
<% end %>
<% unless @uploaded_file.is_public %>
<div style="margin:10px 0;color:#300;">
  <%=t("texts.private_image")%>
</div>
<% end %>
<div id="image_description" class="image_description">
  <%=simple_format(@uploaded_file.description)%>
</div>

<% if !@uploaded_file.user.nil? && current_user && current_user.id == @uploaded_file.user.id %>
  <% content_for :bottom do %>
  <script type="text/javascript">
  $(document).ready(function(){
    $("#image_description").editInPlace({
      url: LessJsRoutes.image_update_path('<%=@uploaded_file.id%>', 'js'),
      params: "_method=put",
      bg_over: "#cff",
      field_type: "textarea",
      textarea_rows: "15",
      textarea_cols: "35",
      show_buttons: true,
      cancel_button: '<input type="submit" class="inplace_cancel" value="Cancel"></input></div>',
      save_button: '<div><input type="submit" class="inplace_save" value="Save"></input>'
    });
  });
  </script>
  <% end %>
<% end %>

<% end %>